.main-container {
    display: flex;
    flex-direction: column;
  }
  
  .search-container input {
    border: 0;
    border: 2px solid #006bb7;
    width: 30%;
    height: 30px;
    font-size: 14px;
    background-color: transparent;
  }
  
  *:focus {
      outline: none;
  }
  
  .teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .teams-container img {
    width: 150px;
    margin: 10px 6px;
  }
  
